h1 {
    background-color: rgb(0, 62, 120);
    color: white;
    padding: 10px;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .main-content {
    flex: 2;
    padding: 20px;
  }
  
  .sidebar {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  button.active {
    background-color: rgb(253, 185, 19);
    color: white;
  }
  