/* Yearcard.css */
.yearcard {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: auto; /* Fixed width for yearcard */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 0px 10px 0px; /* Add margin to separate cards */
  background-color: #fff;
}

.yearcard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  cursor: pointer;
}

.yearcard .arrow {
  font-size: 18px;
  margin-right: 10px;
}

.yearcard .title {
  font-size: 16px;
}

.yearcard .content {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  background-color: #fff;
  transition: max-height 0.3s ease, padding 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.yearcard.expanded .content {
  max-height: 200px; /* Adjust this based on the content height */
  padding: 10px;
}